.btn {
  border: 2px solid white;
  background-color: transparent;
  padding:  10px 10px;
  color: white;
  font-size: 20px;
}
.btn:hover {
  border: 2px solid white;
  background-color: white;
  cursor:pointer;
  color: black;
}
