.post-modal{
    background-color: rgba(0, 0, 0,0.5);
    width: 100%;
    height: 100vh;
    position :fixed;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.image-container{
    width: 50%;
    height: 70%;
    /* border: 2px solid red; */
    background-color: aliceblue;
    position: relative
    
}
.image-container .info{
    background-color: rgb(0, 0, 0,0.2);
    border-radius: 5px;
    width: fit-content;
    position: absolute;
    bottom:10px;
    left: 10px;
    padding: 10px;
    color: rgb(255, 255, 255,0.5);
}
.info i{
    margin-right: 5px;
}