.home-header {
  /* background-image: url('/homeImage1.jpg'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
  padding: 20px;
  position: relative;
  
}
.home{
  margin-top: 60px;
}
.home-header h1 {
  font-size: 50px;
  color: rgb(0, 0, 0);
  width: 50vw;
}
.book-btn {
  display: block;
  position: absolute;
  bottom: 250px;
  right: 200px;
  width: 200px;
}
.home-main {
  position: relative;
  height: 90vh;
  /* background-color:  #2c2929; */
  background-image: linear-gradient(
    to bottom,
    #2c2929,
    #555253,
    #818081,
    #b1b1b1,
    #e4e4e4
  );
  display: flex;
  color: antiquewhite;
  align-items: center;
  width: 100%;
}

.home-main h1 {
  position: absolute;
  top: 35px;
  left: 10px;
  font-weight: 200;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    /* transform: translateX(-127.5%); */
    transform: translateX(-1610px);
  }
}
.slider-container {
  background-color: black;
  /* height: 100vh; */
  overflow: hidden;
  padding: 20px 0;
}

.slider {
  background-color: transparent;
  display: flex;
  width: 100%;
  gap: 30px;
  animation: 20s slide infinite linear;
}

/* .outer-home-main::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 150px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  content: '';
  z-index: 2;
}
.outer-home-main::after {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  content: '';
  z-index: 2;
} */

.img-div {
  width: 200px;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* border: 1px solid red; */
  flex-shrink: 0;
  border-radius: 5px;
  cursor: pointer;
}

.overlay {
  height: 100%;
  width: 100%;
  /* display: flex; */
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  color: white;
  display: none;
}

.slider-container:hover .slider {
  animation-play-state: paused !important;
}

.img-div:hover .overlay {
  scale: 1.05;
  display: flex;
}
.img-div:hover {
  scale: 0.9;
}
.search-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  position: absolute;
  top: 20px;
  left: 300px;
}
.search-btn {
  font-size: 18px;
  padding: 0 10px;
  height: 40px;
}

.cta-section {
  background-color: #e4e4e4;
  width: 100%;
  height: 50vh;
  color: rgb(16, 15, 15);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}
.cta-section h1 {
  letter-spacing: 2px;
  font-size: 35px;
}
.home-about {
  color: rgb(18, 17, 17);
  background-color: rgb(228, 228, 228);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  font-size: 20px;
  gap: 30px;
  height: 50vh;
  /* letter-spacing: 5px; */
}
.home-about h1 {
  letter-spacing: 2px;
  font-size: 35px;
}

@media screen and (max-width:907px){

  .home-header h1 {
    font-size: 35px;
    color: rgb(0, 0, 0);
    width: 50vw;
  }
  .book-btn {
    display: block;
    position: absolute;
    bottom: 250px;
    right: 50px;
    width: 200px;
  }
  
}

@media screen and (max-width:570px){

  .home-header h1 {
    font-size: 25px;
    color: rgb(0, 0, 0);
    width: 50vw;
  }
  .book-btn {
    display: block;
    position: absolute;
    bottom: 50px;
    right:0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }
  
}