.profile-book{
    background-color: black;
    color: aliceblue;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.profile-book-container{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 50vh;
    height: fit-content;
    padding: 30px;
    background-color: rgb(51, 53, 53);
}
.select-service{
    width: 100%;
}