.user-pg-profile-posts{
    background-color: rgb(34, 32, 32);
    height: fit-content;
    padding: 20px;
    display: flex;   
    flex-wrap: wrap;
    gap:5px;
    margin-top: 30px;
    justify-content: center
}
.post{
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    background-size: cover;
}
.user-pg-profile{

    background-color: black;
    color: wheat;
    padding:20px;
    min-height: 100vh;
    

}

.review-modal{
    position: fixed;
    z-index:2;
    right: 0;
    left:0;
    margin: auto;
    background-color: aliceblue;
    width: fit-content;
    height: fit-content;
    background-color: rgb(92, 88, 88);
    box-shadow: 0 0 10px 10px rgba(1, 1, 1, 0.3);
    padding: 20px;
}