.user-login {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 89.6vh;
  width: 100%;
  background-color: black;
  padding: 30px;
}

.user-signup-form {
  /* border: 3px solid greenyellow; */
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.user-login-form {
  /* border: 3px solid greenyellow; */
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.user-login-inp {
  width: 400px;
}
.form-container {
  /* border: 1px solid red; */
  width: fit-content;
  background-color: rgb(33, 33, 33);
}
.options{
    color: aliceblue;
    padding-left: 20px;

}