.pg-login {
  height: 100vh;
  width: 100%;
  background-color: rgb(28, 28, 28);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: fit-content;
  padding: 30px;
  background-color:  rgb(208, 208, 208);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px
}

.login-btn-div{
    display: flex;
    justify-content: space-between;
    width:100%;
    color: white;
}
