.navbar {
  width: 100%;
  height: 60px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  /* position: fixed; */
}
.navbar ul li {
  list-style: none;
  text-decoration: underline;
  color: aliceblue;
}
.navbar ul {
  display: flex;
  align-items: center;
  gap: 30px;
 
  
}
.drop-down-cont {
  background-color: rgb(35, 33, 33);
  height: fit-content;
  padding: 30px;
  width: fit-content;
  position: absolute;
  top:60px ;
  right: 10px;
  color: rgb(235, 235, 235);
  z-index: 3;
}
.drop-down-cont p:hover{
  background-color: rgb(114, 114, 114);
  
}

