.navbar {
  width: 100%;
  height: 60px;
  background:black;
  color:antiquewhite;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

}
.logo {
  font-family: 'Dancing Script', cursive;
}
.navbar ul li {
  list-style: none;
  text-decoration: none;
  color: aliceblue;
}
.navbar ul {
  display: flex;
  align-items: center;
  gap: 30px;
  text-decoration: none;
}
.drop-down-cont {
  background-color: rgb(0, 0, 0);
  height: fit-content;
  padding: 30px;
  width: fit-content;
  position: absolute;
  top: 70px;
  right: 10px;
  color: rgb(235, 235, 235);
  border-radius: 5px;
  z-index: 3;
}
.drop-down-cont p:hover {
  background-color: rgb(114, 114, 114);
}

.navbar ul li:hover{
 color: rgb(44, 44, 245);
}