.footer{
    width: 100%;
    height: 40vh;
    background-color:rgb(97, 96, 96);
  }
  
  .fa-brands{
    color: white;
    font-size: 28px;
  }
  .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    gap:30px;
  
  }
  .social-icons{
    display: flex;
    width: 50%;
    justify-content: space-around;
  }
  .options {
    display: flex;
    gap: 10px;
  }
  .copyright{
    font-size: 10px;
    color: gray;
  }

  .fa-instagram:hover{
    color: rgb(255, 0, 157);
  }

  .fa-facebook-f:hover{
    color: blue;
  }

  .fa-x-twitter:hover{
    color: black;

  }