.review-cont{
    width: 100%;
    height: fit-content;
    padding: 20px;
    border-bottom:2px solid rgb(0, 0, 0);
}
.pg-review{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 60px;
}
.fa-star{
    color: rgb(59, 59, 253);
}