.service-card {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border: 1px solid rgb(255, 254, 254);
}
.service-cont {
  width: 50%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.pg-profile {
  background-color: black;
  color: white;
  min-height: 100vh;
  padding: 80px 20px 20px;

}
.post-btn {
  background-color: rgb(74, 74, 215);
  position: absolute;
  right: 10px;
  top: 180px;
}

.posts-box{
    background-color:rgb(43, 41, 41);
    width: 90%;
    min-height: 100px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    /* justify-content: center; */

}
.post-image{
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* border: 1px solid red; */
    
}
.post-image .like-container{
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255,0.5);
  width: fit-content;
  border-radius: 5px;
  padding: 5px;
}

/* .post-image:hover{

    scale: 1.5;
    cursor: pointer;
} */