.pg-booking{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    gap: 10px;
    background-image: linear-gradient(to bottom, #2c2929, #555253, #818081, #b1b1b1, #e4e4e4);
    min-height: 100vh;

}

.app-card{

    height: fit-content;
    width: 90%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(29, 28, 28);
    color: white;
    display: flex;
    justify-content: space-between;
}



 .app-card .cancel-btn{
      padding:  0 3px;
      font-size: 16px;
      background: red;
      border-radius: 2px;
  }
 .app-card .cancel-btn:hover{
      background: red;
      color: white;
  
  }
  .pg-booking p{
      font-weight: 200;
  }
  .app-card .accept-btn{
    padding:  0 3px;
    font-size: 16px;
    background: rgb(11, 225, 143);
    border-radius: 2px;

  }